<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Chapter</key>
		<string>『7』隐式动画</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Section</key>
				<string>事务</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>完成块</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>图层行为</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>呈现与模型</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Chapter</key>
		<string>『8』显式动画</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Section</key>
				<string>事务</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>完成块</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>图层行为</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>呈现与模型</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Chapter</key>
		<string>『9』图层时间</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Section</key>
				<string>事务</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>完成块</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>图层行为</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>呈现与模型</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Chapter</key>
		<string>『10』基于定时器的动画</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Section</key>
				<string>事务</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>完成块</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>图层行为</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>呈现与模型</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Chapter</key>
		<string>『11』性能调优</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Section</key>
				<string>事务</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>完成块</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>图层行为</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>呈现与模型</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Chapter</key>
		<string>『12』高效绘图</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Section</key>
				<string>事务</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>完成块</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>图层行为</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>呈现与模型</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Chapter</key>
		<string>『13』图像IO</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Section</key>
				<string>事务</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>完成块</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>图层行为</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>呈现与模型</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Chapter</key>
		<string>『14』图层性能</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Section</key>
				<string>事务</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>完成块</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>图层行为</string>
			</dict>
			<dict>
				<key>Section</key>
				<string>呈现与模型</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
